<% layout('/Layout/boilerplate') -%>
<body>
  <br />
  <div class="row offset-2">
    <form
      method="post"
      action="/datalist"
      class="needs-validation"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-lable">Title</label>
        <input
          type="text"
          class="form-control"
          name="datalist[title]"
          id="title"
          placeholder="Add a Catchy title"
          required
        />

        <div class="invalid-feedback">Please provide a valid Title.</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-lable">Description</label>
        <textarea
          id="description"
          name="datalist[description]"
          rows="2"
          cols="22"
          class="form-control"
          required
        ></textarea>
        <div class="invalid-feedback">Please provide a valid Description.</div>
      </div>

      <div class="mb-3">
        <label for="image" class="form-lable">Upload Image</label>
        <input
          id="image"
          type="file"
          class="form-control"
          placeholder="image URL "
          name="datalist[image]"
          required
        />
        <div class="invalid-feedback">Please provide a valid image.</div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-lable">Price</label>
          <input
            id="price"
            type="text"
            class="form-control"
            placeholder="1200"
            name="datalist[price]"
            required
          />
          <div class="invalid-feedback">Please provide a valid Price.</div>
        </div>

        <div class="mb-3 col-md-8">
          <label for="country" class="form-lable">Country</label>
          <input
            id="country"
            type="text"
            class="form-control"
            placeholder="India"
            name="datalist[country]"
            required
          />
          <div class="invalid-feedback">Country name should be.</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="Location" class="form-lable">Location</label>
        <input
          id="Location"
          type="text"
          class="form-control"
          placeholder="bettiah (West Chamaparan)"
          name="datalist[location]"
          required
        />
        <div class="invalid-feedback">Location name should be.</div>
      </div>

      <button class="submit_btn">Submit Details</button>
    </form>
  </div>
</body>
